<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              Events rule
          </a>

          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
          </ul>
      </div>

  </div>
  </nav>