<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
                <div class="col-sm-2">
                        <button type="submit" id="btn-getSystemInfo">Gonnect to Service!</button>
                    </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Hostname</td>
                                <td id="hostname"></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Type</td>
                                <td id="type"></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Platform</td>
                                <td id="platform"></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Arch</td>
                                <td id="arch"></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Release</td>
                                <td id="release"></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Uptime</td>
                                <td id="uptime"></td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Loadavg</td>
                                <td id="loadavg"></td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Totalmem</td>
                                <td id="totalmem"></td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Freemem</td>
                                <td id="freemem"></td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>CPUs</td>
                                <td id="cpus"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>